# Python
__pycache__/
*.pyc
*.pyo
.venv/
venv/

# Pycharm
.idea

# ML модели (большие бинарные файлы, хранить отдельно или через Git LFS)
vivida/gbm_models_output_all90_dosage_full_features/stacked_models.joblib
vivida/gbm_models_output_all90_dosage_full_features/onehot_encoder.joblib
vivida/gbm_models_output_all90_dosage_full_features/scaler.joblib
vivida/gbm_models_output_all90_dosage_full_features/fitted_params.csv

# Обучающие данные
vivida/glioblastoma_data.xlsx

# Логи
*.log
